.Button {
  height: 32px;
  padding: 8px;
  background-color: transparent;
  border: 1px solid #0D0D0D;
  border-radius: 2px;
  color: #0D0D0D;
  font-weight: bold;
  cursor: pointer;
}

.Button:focus {
  outline: 2px solid #C4D4F2;
}

.Button--loading {
  cursor: wait;
}

.Button--primary {
  background-color: #0D0D0D;
  border: none;
  color: #FFFFFF;
}
