.SketchFilenameForm__container {
  display: flex;
}

.SketchFilenameForm__container:not(:last-child) {
  margin-bottom: 8px;
}

.SketchFilenameForm__input {
  height: 32px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: transparent;
  border: 1px solid #0D0D0D;
  border-radius: 2px;
  color: #0D0D0D;
  flex-grow: 1;
}

.SketchFilenameForm__input:focus {
  outline: 2px solid #C4D4F2;
}

.SketchFilenameForm__input--error {
  border-color: #FF0000;
  color: #FF0000;
}
