.RangeSlider__container {
  position: relative;
  display: flex;
  height: 16px;
  align-items: center;
}

.RangeSlider__input {
  width: 25%;
  height: 100%;
  padding-left: 8px;
  border: none;
  color: #0D0D0D;
}

.RangeSlider__slider {
  width: 75%;
  height: 100%;
  margin: 0; /* Webkit only */
  background-color: transparent;
  border-radius: 2px;
  cursor: col-resize;
  overflow: hidden;
  -webkit-appearance: none;
}

.RangeSlider__input:focus,
.RangeSlider__slider:focus {
  outline: 2px solid #C4D4F2;
}

.RangeSlider__slider::-moz-range-thumb {
  visibility: hidden;
}

.RangeSlider__slider::-webkit-slider-thumb {
  visibility: hidden; /* Must only be hidden */
}

.RangeSlider__default-value-indicator {
  position: absolute;
  top: 4px;
  width: 8px;
  height: 8px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transform: translateX(-50%);
}

.RangeSlider__default-value-indicator:focus {
  outline: 1px solid #F2F2F2;
}
